.setting__container {
    font-family: inherit;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #E98074;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.setting__link {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
}

.setting__container:hover {
    box-shadow: 2px 2px 2px #E98074;
}