.logo {
    margin: 0;
    padding: 10px 0 10px 10px;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo__title {
    color: #494947;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

@media screen and (max-width: 785px) {
    .logo__title {
        font-size: 38px;
    }
    .logo {
        max-width: 200px;
    }
}

@media screen and (max-width: 588px) {
    .logo {
        position: absolute;
        left: 0;
        top: 0;
    }
}