.modal {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 10px;
    width: 300px;
    height: 60px;
    background: rgb(114, 156, 234);
    box-shadow: 5px 5px 5px #e73f02;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.modal__button {
    padding: 0;
    position: absolute;
    right: -18.7px;
    top: -30px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #e73f02;
}

.modal__adtext {
    font-size: 16px;
    margin: 0;
    padding: 0;
}