.header {
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #E98074;
}

.nav {
    margin: 0;
    padding-right:  10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__image {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 588px) {
    .header {
        flex-direction: column;
        gap: 0;
        position: relative;
    }
    .nav {
        flex-direction: column-reverse;
        gap: 20px;
        padding-left: 10px;
        padding-bottom: 5px;
    }
}