.nav__container {
    margin: 0;
    padding: 0;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.nav__input {
    padding: 2px 2px 2px 40px;
    width: 100%;
    height: 40px;
    font-size: 22px;
    border: none;
    border-color: #E85A4F;
    border-radius: 20px;
    font-family: inherit;
    box-shadow: 1px 1px 1px #E85A4F;
    transition: box-shadow .3s ease;
}

.nav__input::placeholder {
    font-family: inherit;
    font-size: 22px;
    color: #494947;
}

.nav__input:focus {
    outline: none;
    box-shadow: 0 0 20px #494947;
}

.search {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #E85A4F;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

@media screen and (max-width: 980px) {
    .nav__container {
        max-width: 400px;
    }
}

@media screen and (max-width: 785px) {
    .nav__container {
        max-width: 300px;
    }
}

@media screen and (max-width: 588px) {
    .nav__container {
        max-width: none;
    }
}