.letter {
    font-family: inherit;
    font-size: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #E98074;
}

.letter__sender {
    font-family: inherit;
    flex-grow: 2;
    padding-left: 5px;
}

.letter__title {
    flex-grow: 7;
    font-weight: bold;
}