.nav__btn_container {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

.nav__btn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease;
}

.nav__btn:hover {
    opacity: .4;
}

@media screen and (max-width: 588px) {
    .nav__btn_container {
        align-self: flex-end;
        margin-top: 10px;
    }
}